---
layout: default
title: Brice Morin's website
overview: true
---

<section class="intro">
  <div class="grid">
    <div class="unit whole center-on-mobiles">
      <p class="first">Brice Morin's website</p>
    </div>
  </div>
</section>
<section>
  <div class="grid">
    <div class="unit whole center-on-mobiles">
      <p>
I am a Senior Research Scientist at SINTEF Digital, Oslo, Norway.

My mission is to provide automated software engineering tools for exploiting and amplifying the diversity available at all levels in modern software stacks.

Through automated diversity, my goal is to make complex software-intensive systems more resilient, and ideally immune, to known and unknown factors such as failures or attacks.

This journey started back in 2007 during my PhD, when I explored how models@runtime could be used to specify, monitor and control the runtime diversity in dynamically adaptive systems, allowing the system to adapt to varying conditions in its execution environment.

Later, before Docker and microservices, I contributed to CloudML together with Nicolas Ferry and Franck Chauvel, a models@runtime approach for Cloud apps. CloudML helped developers deploy their apps on top of multiple cloud providers, increasing availability and preventing vendor lock-in.

These days, I'm using Docker as a key instrument supporting my research, helping me to experiment with diverse versions of the same systems.

Over the past 10 years and together with Franck Fleurey, I have been actively developing and using ThingML, a modeling language and family of compilers for asynchronous, distributed systems. From an abstract ThingML specifications, it is possible to generate fully operational code for C, Go, Java and JavaScript communicating over different protocols (MQTT, Serial, Websocket and so on). I am using ThingML as a tool to amplify diversity.



      </p>
    </div>
  </div>
</section>

{% assign workshop = "0" %}
{% assign totalpaper = "0" %}
{% assign conference = "0" %}
{% assign journal = "0" %}
{% assign invitedTalk = "0" %}
{% assign chapter = "0" %}
{% for post in site.categories.paper %}
  {% if post.categories contains 'conference' %}
    {% assign conference=conference | plus:1 %}
    {% assign totalpaper=totalpaper | plus:1 %}
  {% elsif post.categories contains 'workshop' %}
    {% assign workshop=workshop | plus:1 %}
    {% assign totalpaper=totalpaper | plus:1 %}
  {% elsif post.categories contains 'journal' %}
    {% assign journal=journal | plus:1 %}
    {% assign totalpaper=totalpaper | plus:1 %}
  {% elsif post.categories contains 'invited talk' %}
    {% assign invitedTalk=invitedTalk | plus:1 %}
  {% elsif post.categories contains 'chapter' %}
    {% assign chapter=chapter | plus:1 %}
    {% assign totalpaper=totalpaper | plus:1 %}
  {% endif%}
{% endfor %}

<section class="features">
  <div class="grid">
    <div class="unit one-third">
      <p><h3><a href="{{ site.url }}/papers" class=""><i class="icon-file-alt"></i> Papers</a></h3></p>
      <p>
        I am the (co-)author of {{ totalpaper }} peer-reviewed papers published in international venues, including {{ journal }} journal papers, {{ chapter }} book chapters, {{ conference }} conference papers and {{ workshop }} workshops.
      </p>
    </div>
    <div class="unit one-third hide-on-mobiles">
        <a class="twitter-timeline" data-width="240" data-height="480" data-theme="dark" data-link-color="#FAB81E" href="https://twitter.com/bm0rin?ref_src=twsrc%5Etfw">Tweets by bm0rin</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="unit one-third">
      <p><h3><a href="{{ site.url }}/prototypes" class=""><i class="icon-save"></i> Proto<span class="hide-on-mobiles">types</span></a></h3></p>
      <p>
        In an Open approach to Science, my prototypes are hosted on <a href="https://github.com/brice-morin">Github</a>. Most code is available under a flexible Apache 2.0 License.
      </p>
    </div>
  </div>
</section>
