---
layout: default
title: Brice Morin's publications statistics
---
{% include paper.html %}
<section>
    <div class="grid">

      {% include paper_contents_mobile.html %}

      <div class="unit four-fifths">
        <article>
<script>
var chart;
{% assign workshop = 0 %}
{% assign conference = 0 %}
{% assign journal = 0 %}
{% assign invitedTalk = 0 %}
{% assign chapter = 0 %}
{% assign other = 0 %}
{% assign workshopTotal = 0 %}
{% assign conferenceTotal = 0 %}
{% assign journalTotal = 0 %}
{% assign invitedTalkTotal = 0 %}
{% assign chapterTotal = 0 %}
{% assign otherTotal = 0 %}
{% assign currentYear = 0 %}
{% assign counter = 0 %}
var chartData = [
{% for post in site.categories.paper%}

  {% capture year %}{{post.date | date: "%Y"}}{% endcapture %}
  {% if currentYear !=  year or forloop.last%}

    {% if forloop.last%}
 {% if post.categories contains 'conference' %}
   {% assign conference=conference | plus:1 %}
 {% elsif post.categories contains 'workshop' %}
   {% assign workshop=workshop | plus:1 %}  
 {% elsif post.categories contains 'journal' %}
   {% assign journal=journal | plus:1 %}  
 {% elsif post.categories contains 'invited talk' %}
   {% assign invitedTalk=invitedTalk | plus:1 %}  
 {% elsif post.categories contains 'chapter' %}
   {% assign chapter=chapter | plus:1 %}
 {% else %}
   {% assign other=other | plus:1 %}  
 {% endif%}
    {% endif %}


    {% if counter > 1 %},{% endif %}
    {% assign counter=counter | plus:1 %}
    {% if counter > 1 %}
 {
   year: "{{currentYear}}",
   journal: {{journal}},
   conference: {{conference}},
   workshop: {{workshop}},
   invitedTalk: {{invitedTalk}},
   chapter: {{chapter}},
   other: {{other}}
 }
      {% assign workshopTotal=workshopTotal | plus:workshop%}
      {% assign conferenceTotal=conferenceTotal | plus:conference%}
      {% assign journalTotal=journalTotal | plus:journal%}
      {% assign invitedTalkTotal=invitedTalkTotal | plus:invitedTalk%}
      {% assign chapterTotal=chapterTotal | plus:chapter%}
      {% assign otherTotal=otherTotal | plus:other%}
      {% assign workshop = 0 %}
      {% assign conference = 0 %}
      {% assign journal = 0 %}
      {% assign invitedTalk = 0 %}
      {% assign chapter = 0 %}
      {% assign other = 0 %}
    {% endif %}
    {% assign currentYear = year %}
  {% endif %} 

 {% if post.categories contains 'conference' %}
   {% assign conference=conference | plus:1 %}
 {% elsif post.categories contains 'workshop' %}
   {% assign workshop=workshop | plus:1 %}  
 {% elsif post.categories contains 'journal' %}
   {% assign journal=journal | plus:1 %}  
 {% elsif post.categories contains 'invited talk' %}
   {% assign invitedTalk=invitedTalk | plus:1 %}  
 {% elsif post.categories contains 'chapter' %}
   {% assign chapter=chapter | plus:1 %}
 {% else %}
   {% assign other=other | plus:1 %}  
 {% endif%}


{% endfor %}
];

AmCharts.ready(function() {
   // SERIALL CHART
   chart = new AmCharts.AmSerialChart();
   chart.dataProvider = chartData;
   chart.categoryField = "year";
   chart.plotAreaBorderAlpha = 0.2;
   chart.rotate = true;
   chart.color = "#FFFFFF";

   // AXES
   // Category
   var categoryAxis = chart.categoryAxis;
   categoryAxis.gridAlpha = 0.1;
   categoryAxis.axisAlpha = 0;
   categoryAxis.gridPosition = "start";

   // value                      
   var valueAxis = new AmCharts.ValueAxis();
   valueAxis.stackType = "regular";
   valueAxis.gridAlpha = 0.1;
   valueAxis.axisAlpha = 0;
   chart.addValueAxis(valueAxis);

   // GRAPHS
   // firstgraph
   var graph = new AmCharts.AmGraph();
   graph.title = "Journals";
   graph.labelText = "[[value]]";
   graph.valueField = "journal";
   graph.type = "column";
   graph.lineAlpha = 0;
   graph.fillAlphas = 1;
   graph.lineColor = "#6699FF";
   graph.color = "#000000";
   chart.addGraph(graph);

   // second graph                              
   graph = new AmCharts.AmGraph();
   graph.title = "Conferences";
   graph.labelText = "[[value]]";
   graph.valueField = "conference";
   graph.type = "column";
   graph.lineAlpha = 0;
   graph.fillAlphas = 1;
   graph.lineColor = "#99CCCC";
   graph.color = "#000000";
   chart.addGraph(graph);

   // thirdt graph              
   graph = new AmCharts.AmGraph();
   graph.title = "Workshops";
   graph.labelText = "[[value]]";
   graph.valueField = "workshop";
   graph.type = "column";
   graph.lineAlpha = 0;
   graph.fillAlphas = 1;
   graph.lineColor = "#99FF99";
   graph.color = "#000000";
   chart.addGraph(graph);

   // fourth graph
   graph = new AmCharts.AmGraph();
   graph.title = "Invited Talks";
   graph.labelText = "[[value]]";
   graph.valueField = "invitedTalk";
   graph.type = "column";
   graph.lineAlpha = 0;
   graph.fillAlphas = 1;
   graph.lineColor = "#FFFF66";
   graph.color = "#000000";
   chart.addGraph(graph);

   // fifth graph
   graph = new AmCharts.AmGraph();
   graph.title = "Bookt Chapter";
   graph.labelText = "[[value]]";
   graph.valueField = "chapter";
   graph.type = "column";
   graph.lineAlpha = 0;
   graph.fillAlphas = 1;
   graph.lineColor = "#666699";
   graph.color = "#000000";
   chart.addGraph(graph);

   // sixth graph  
   graph = new AmCharts.AmGraph();
   graph.title = "Other";
   graph.labelText = "[[value]]";
   graph.valueField = "other";
   graph.type = "column";
   graph.lineAlpha = 0;
   graph.fillAlphas = 1;
   graph.lineColor = "#D8E0BD";
   graph.color = "#000000";
   chart.addGraph(graph);

   // LEGEND
   var legend = new AmCharts.AmLegend();
   legend.position = "bottom";
   legend.borderAlpha = 0.3;
   legend.horizontalGap = 10;
   legend.switchType = "v";
   chart.addLegend(legend);

   // WRITE
   chart.write("chartdiv");
});


var chartDataTotal = [{
    type: "Journals",
    total: {{journalTotal}}},
{
    type: "Conferences",
    total: {{conferenceTotal}}},
{
    type: "Workshops",
    total: {{workshopTotal}}},
{
    type: "Book chapters",
    total: {{chapterTotal}}},
{
    type: "Invited Talks",
    total: {{invitedTalkTotal}}},
{
    type: "Other",
    total: {{otherTotal}}}];

AmCharts.ready(function() {
    // RADAR CHART
    chart = new AmCharts.AmRadarChart();
    chart.dataProvider = chartDataTotal;
    chart.categoryField = "type";
    chart.startDuration = 2;
    chart.color="#FFFFFF";

    // VALUE AXIS
    var valueAxis = new AmCharts.ValueAxis();
    valueAxis.axisAlpha = 0.15;
    valueAxis.minimum = 0;
    valueAxis.dashLength = 3;
    valueAxis.axisTitleOffset = 20;
    valueAxis.gridCount = 5;
    chart.addValueAxis(valueAxis);

    // GRAPH
    var graph = new AmCharts.AmGraph();
    graph.valueField = "total";
    graph.bullet = "round";
    graph.balloonText = "[[value]] papers";
    graph.color = "#FFFFFF";
    chart.addGraph(graph);


    // WRITE
    chart.write("chartdivTotal");
});


</script>      



<h2>Publications per type, per year</h2>
{% assign counter=counter | times:50 %}  
<div id="chartdiv" style="width: 100%; height: {{counter}}px;"></div>

<!--<h2>Publications per type, accumulated</h2>
<div id="chartdivTotal" style="width: 100%; height: 256px;"></div>-->

        </article>
      </div>

      {% include paper_contents.html %}

      <div class="clear"></div>

    </div>
  </section>
