---
layout: default
title: Brice Morin's publications statistics
---
{% include paper.html %}
<section>
    <div class="grid">

      {% include paper_contents_mobile.html %}

      <div class="unit four-fifths">
        <article>

<h2>Publications per type, per year</h2>
{% assign counter=counter | times:50 %}
<div id="chartdiv" style="width: 100%; height: {{counter}}px;"></div>

<!--<h2>Publications per type, accumulated</h2>
<div id="chartdivTotal" style="width: 100%; height: 256px;"></div>-->

        </article>
      </div>

      {% include paper_contents.html %}

      <div class="clear"></div>

    </div>
  </section>

<script>
  var chart;
  {% assign workshop = 0 %}
  {% assign conference = 0 %}
  {% assign journal = 0 %}
  {% assign invitedTalk = 0 %}
  {% assign chapter = 0 %}
  {% assign other = 0 %}
  {% assign workshopTotal = 0 %}
  {% assign conferenceTotal = 0 %}
  {% assign journalTotal = 0 %}
  {% assign invitedTalkTotal = 0 %}
  {% assign chapterTotal = 0 %}
  {% assign otherTotal = 0 %}
  {% assign currentYear = 0 %}
  {% assign counter = 0 %}
  var chartData = [
  {% for post in site.categories.paper%}
    {% capture year %}{{post.date | date: "%Y"}}{% endcapture %}
    {% if currentYear !=  year or forloop.last%}
      {% if forloop.last%}
        {% if post.categories contains 'conference' %}
          {% assign conference=conference | plus:1 %}
        {% elsif post.categories contains 'workshop' %}
          {% assign workshop=workshop | plus:1 %}
        {% elsif post.categories contains 'journal' %}
          {% assign journal=journal | plus:1 %}
        {% elsif post.categories contains 'invited talk' %}
          {% assign invitedTalk=invitedTalk | plus:1 %}
        {% elsif post.categories contains 'chapter' %}
          {% assign chapter=chapter | plus:1 %}
        {% else %}
          {% assign other=other | plus:1 %}
        {% endif%}
      {% endif %}
      {% if counter > 1 %},{% endif %}
      {% assign counter=counter | plus:1 %}
      {% if counter > 1 %}
   {
     year: "{{currentYear}}",
     journal: {{journal}},
     conference: {{conference}},
     workshop: {{workshop}},
     invitedTalk: {{invitedTalk}},
     chapter: {{chapter}},
     other: {{other}}
   }
        {% assign workshopTotal=workshopTotal | plus:workshop%}
        {% assign conferenceTotal=conferenceTotal | plus:conference%}
        {% assign journalTotal=journalTotal | plus:journal%}
        {% assign invitedTalkTotal=invitedTalkTotal | plus:invitedTalk%}
        {% assign chapterTotal=chapterTotal | plus:chapter%}
        {% assign otherTotal=otherTotal | plus:other%}
        {% assign workshop = 0 %}
        {% assign conference = 0 %}
        {% assign journal = 0 %}
        {% assign invitedTalk = 0 %}
        {% assign chapter = 0 %}
        {% assign other = 0 %}
      {% endif %}
      {% assign currentYear = year %}
    {% endif %}
    {% if post.categories contains 'conference' %}
      {% assign conference=conference | plus:1 %}
    {% elsif post.categories contains 'workshop' %}
      {% assign workshop=workshop | plus:1 %}
    {% elsif post.categories contains 'journal' %}
      {% assign journal=journal | plus:1 %}
    {% elsif post.categories contains 'invited talk' %}
      {% assign invitedTalk=invitedTalk | plus:1 %}
    {% elsif post.categories contains 'chapter' %}
      {% assign chapter=chapter | plus:1 %}
    {% else %}
      {% assign other=other | plus:1 %}
    {% endif%}
  {% endfor %}
  ];

  var options = {
      chart: {
          height: 380,
          type: 'bar',
          stacked: true,
          backgroup: '#ddd'
      },
      plotOptions: {
          bar: {
              horizontal: true,
          },
      },
      series: [{
          name: 'Conferences',
          data: chartData.map(a => a.conference).map(a => a === 0 ? '' : a)
      },{
          name: 'Workshops',
          data: chartData.map(a => a.workshop).map(a => a === 0 ? '' : a)
      },{
          name: 'Journals',
          data: chartData.map(a => a.journal).map(a => a === 0 ? '' : a)
      },{
          name: 'Invited talks',
          data: chartData.map(a => a.invitedTalk).map(a => a === 0 ? '' : a)
      },{
          name: 'Book Chapters',
          data: chartData.map(a => a.chapter).map(a => a === 0 ? '' : a)
      }],
      title: {
          text: 'Publications per type, per year'
      },
      xaxis: {
          categories: chartData.map(a => a.year)
      },
      yaxis: {
          title: {
              text: undefined
          }
      },
      fill: {
          opacity: 1
      },
      legend: {
          position: 'top',
          horizontalAlign: 'left',
          offsetX: 40
      }
  }
  Apex.colors = ['#99CCCC', '#99FF99', '#6699FF', '#FFFF66', '#666699'];
  chart = new ApexCharts(
      document.querySelector("#chartdiv"),
      options
  );

  chart.render();
</script>
