---
layout: default
title: Brice Morin's Services (CV)
---

<section>
    <div class="grid">

      {% include cv_contents_mobile.html %}

      <div class="unit four-fifths">
        <article>
          <h2>Academic Services</h2>

          <p>I regularly serve as a reviewer for international journals such as TSE, SoSyM, JSS, IST</p><br/>

          <p>I am/was PC member of: ECMFA 2019, Euromicro SEAA track on IoT (2018-2019), ACM/IEEE MODELS Poster and Demo Tracks (2013, 2016-2017), MODULARITY Poster and Demo Track (2015), MDETools  Workshop at MODELS (2019), MDE4IoT Workshop at MODELS (2018-2019), Cloud Brokerage workshop (2013-2014), Models@Runtime workshop (2011-2012)</p><br/>
          
	<!--
	  {% for post in site.categories.cv %}
            {% if post.categories contains 'service' %}
            <h3 class="service"> {{post.date | date: "%Y"}}: {{ post.title }} </h3>
              <div class="post">
                {{ post.content }}
             </div>
            {% endif %}
          {% endfor %}
        </article>-->
      </div>

      {% include cv_contents.html %}

      <div class="clear"></div>

    </div>
  </section>
