---
layout: default
title: Brice Morin's Services (CV)
---

<section>
    <div class="grid">

      {% include cv_contents_mobile.html %}

      <div class="unit four-fifths">
        <article>
          <h2>Academic Services</h2>

          <p>I regularly serve as a reviewer for international journals such as SoSyM, JSS, Elsevier IST and international conferences such as MODELS or ICSE.</p><br/>

          <p>I have been PC member of Model@Run.Time workshop in 2011-2012 and PC member of Cloud Brokerage workshop in 2013-2014.</p><br/>

          <p>I have been PC member of ACM/IEEE MODELS Poster track in 2013 and 2017 and of MODULARITY Posters and Demos track in 2015</p><br/>
	<!--
	  {% for post in site.categories.cv %}
            {% if post.categories contains 'service' %}
            <h3 class="service"> {{post.date | date: "%Y"}}: {{ post.title }} </h3>
              <div class="post">
                {{ post.content }}
             </div>
            {% endif %}
          {% endfor %}
        </article>-->
      </div>

      {% include cv_contents.html %}

      <div class="clear"></div>

    </div>
  </section>
