---
layout: default
title: Brice Morin's Selection of cool open-source prototypes
---


<section>
    <div class="grid">

      {% include prototype_contents_mobile.html %}

      <div class="unit four-fifths">
        <article>
	<h2>Prototypes I am using</h2>
        {% for post in site.categories.prototype %}
	  {%  if post.categories contains 'other'%}
         <h3 class="prototype">{{ post.title }}</h2>
           <div class="post">
             {{ post.content }}
           </div>
	   {% endif %}
         {% endfor %}
        </article>
      </div>

      {% include prototype_contents.html %}

      <div class="clear"></div>

    </div>
  </section>
