<div class="unit one-fifth hide-on-mobiles">
  <aside>
    <h4>CV</h4>
    <ul>
      <li class="{% if page.title contains "Positions and Education" %}current{% endif %}">
        <a href="{{ site.url }}/cvinfo/">Postions</a>
      </li>
      <li class="{% if page.title contains "Students" %}current{% endif %}">
        <a href="{{ site.url }}/cvinfo/students">Students</a>
      </li>
      <li class="{% if page.title contains "Services" %}current{% endif %}">
        <a href="{{ site.url }}/cvinfo/services">Services</a>
      </li>
	  <li>
        <a href="https://docs.google.com/file/d/0B8COpPaPIDHYTzVTZHd5MlB5OG8/edit?usp=sharing">CV.pdf</a>
      </li>
    </ul>
  </aside>
</div>
