<div class="docs-nav-mobile unit whole show-on-mobiles">
  <select onchange="if (this.value) window.location.href=this.value">
    <optgroup label="CV">
      <option value="{{ site.url }}/cvinfo">Positions</option>
      <option value="{{ site.url }}/cvinfo/students">Students</option>
      <option value="{{ site.url }}/cvinfo/services">Services</option>
	    <!--<option value="https://docs.google.com/file/d/0B8COpPaPIDHYTzVTZHd5MlB5OG8/edit?usp=sharing">CV.pdf</option>-->
    </optgroup>
  </select>
</div>
