<div class="unit one-fifth hide-on-mobiles">
  <aside>
    <h4>Papers</h4>
    <ul>
      <li class="{% if page.title contains "per Year" %}current{% endif %}">
        <a href="{{ site.url }}/papers/">Per year</a>
      </li>
      <li class="{% if page.title contains "per Type" %}current{% endif %}">
        <a href="{{ site.url }}/papers/perType">Per type</a>
      </li>
      <li class="{% if page.title contains "statistics" %}current{% endif %}">
        <a href="{{ site.url }}/papers/stats">Stats</a>
      </li>
    </ul>
  </aside>
</div>
