  {% assign counter = 0 %}  
  <h2>Journal articles</h2>
  {% for post in site.categories.journal %}
      <h3 class="journal">
      [{{ forloop.rindex }}] {{ post.title }}</h3>
      <div class="compactPost">
        {{ post.content }}
      </div>
  {% endfor %}

  
  {% assign counter = 0 %}
  <h2>Book Chapter</h2>
  {% for post in site.categories.chapter %}
      <h3 class="chapter">
      [{{ forloop.rindex }}] {{ post.title }}</h3>
      <div class="compactPost">
        {{ post.content }}
      </div>
  {% endfor %}

  
  {% assign counter = 0 %}  
  <h2>Conference papers</h2>
  <div>
  {% for post in site.categories.conference %}
	  {% if counter == 10%} 
	  </div>
	  <div>
		<div id="conference_zoomIn_div"><i id="conference_zoomIn" class="icon-zoom-in"><h3>See older papers</h3></i></div>
		<div id="conference_zoomOut_div"><i id="conference_zoomOut" class="icon-zoom-out"><h3>Hide older papers</h3></i></div>
	<div id="olderConference">
	  {% endif %}
  
      <h3 class="conference">
      [{{ forloop.rindex }}] {{ post.title }}</h3>
      <div class="compactPost">
        {{ post.content }}
      </div>
	  {% if counter >= 4 and forloop.last%}</div>{% endif %}
	  {% assign counter=counter | plus:1 %}
  {% endfor %}
  </div>
  
  
  {% assign counter = 0 %}  
  <h2>Workshop papers</h2>
  {% for post in site.categories.workshop %}
      <h3 class="workshop">
      [{{ forloop.rindex }}] {{ post.title }}</h3>
      <div class="compactPost">
        {{ post.content }}
      </div>
  {% endfor %}

  
  {% assign counter = 0 %}  
  <h2>Invited Talks</h2>
      {% comment %} I could not find a way to iterate on site.categories.invited talk (not quite sure how to escape the space...) {% endcomment %}
  {% assign invitedTalk = "0" %}
  {% for post in site.categories.paper %}
      {% if post.categories contains 'invited talk' %}
        {% assign invitedTalk=invitedTalk | plus:1 %} 
      <h3 class="invitedTalk">
      [{{ invitedTalk }}] {{ post.title }}</h3>
      <div class="compactPost">
        {{ post.content }}
      </div>
      {% endif %}
  {% endfor %}

  
  {% assign counter = 0 %}  
  <h2>Other papers</h2>
  {% assign other = "0" %}
  {% for post in site.categories.paper %}
      {% unless (post.categories contains 'journal') or (post.categories contains 'conference') or (post.categories contains 'workshop') or (post.categories contains 'invited talk') or (post.categories contains 'chapter') %}
        {% assign other=other | plus:1 %}
      <h3 class="paper">
      [{{ other }}] {{ post.title }}</h3>
      <div class="compactPost">
        {{ post.content }}
      </div>
      {% endunless %}
  {% endfor %}

  
  
  
  {% assign counter = 0 %}  
  {% for post in site.categories.conference %}
	  {% if counter == 10%}
            <script>
			  $('#conference_zoomIn').click(function() {
              $('#olderConference').toggle('slow', function() {
                $('#conference_zoomIn_div').hide();
				$('#conference_zoomOut_div').show();
              });
              });
			  $('#conference_zoomOut').click(function() {
              $('#olderConference').toggle('slow', function() {
                $('#conference_zoomOut_div').hide();
				$('#conference_zoomIn_div').show();
              });
              });
	      $('#olderConference').hide();
		  $('#conference_zoomOut_div').hide();
           </script>	  
	  {% endif %}
	  {% assign counter=counter | plus:1 %}
  {% endfor %}
