  {% assign currentYear = 0 %}
  {% assign counter = 0 %}
  {% for post in site.categories.paper %}
      {% capture year %}{{post.date | date: "%Y"}}{% endcapture %}
      {% if currentYear !=  year %}
        {% assign counter=counter | plus:1 %}
        {% unless counter == 1 %}
          </div>
        {% endunless %}
        {% assign currentYear = year %}
    <h2 id="{{ currentYear }}">{{currentYear}} {% if counter > 4%} Click to see papers{% endif %}</h2>
    <div id="publications{{ currentYear }}">
 	{% assign closeDiv = true %}
      {% endif %}

      {% if post.categories contains 'conference' %}
      <h3 class="conference">
      {% elsif post.categories contains 'workshop' %}
      <h3 class="workshop">
      {% elsif post.categories contains 'journal' %}
      <h3 class="journal">
      {% elsif post.categories contains 'invited talk' %}
      <h3 class="invitedTalk">
      {% elsif post.categories contains 'chapter' %}
      <h3 class="chapter">
      {% else %}
      <h3 class="paper">
      {% endif%}
      [{{ forloop.rindex }}] {{ post.title }}</h3>
      <div class="compactPost">
        {{ post.content }}
      </div>
  {% endfor %}

  {% assign currentYear = 0 %}
  {% assign counter = 0 %}
  {% for post in site.categories.paper %}
      {% capture year %}{{post.date | date: "%Y"}}{% endcapture %}
      {% if currentYear !=  year %}
          {% assign currentYear = year %}
	  {% assign counter=counter | plus:1 %}
          {% if counter > 4%}
            <script>
              $('#{{ currentYear }}').click(function() {
              $('#publications{{ currentYear }}').toggle('slow', function() {
              // Animation complete.
              });
              });
	      $('#publications{{ currentYear }}').hide();
           </script>
          {% endif %}
      {% endif %}
  {% endfor %}
