<ul>
  <li class="{% if page.overview %}current{% endif %}">
    <a href="{{ site.url }}/">Home</a>
  </li>
  <li class="{% if page.title contains "publications" %}current{% endif %}">
    <a href="{{ site.url }}/papers">Publi<span class="show-on-mobiles">s</span><span class="hide-on-mobiles">cations</span></a>
  </li>
  <li class="{% if page.title contains "projects" %}current{% endif %}">
    <a href="{{ site.url }}/projects">Projects</a>
  </li>
  <li class="{% if page.title contains "prototypes" %}current{% endif %}">
    <a href="{{ site.url }}/prototypes">Proto<span class="hide-on-mobiles">types</span></a>
  </li>
  <li class="{% if page.title contains "CV" %}current{% endif %}">
    <a href="{{ site.url }}/cv">CV</a>
  </li>
</ul>
