<div class="unit one-fifth hide-on-mobiles">
  <aside>
    <h4>Prototypes</h4>
    <ul>
      <li class="{% if page.title contains "Core" %}current{% endif %}">
        <a href="{{ site.url }}/prototypes/">Core dev</a>
      </li>
      <li class="{% if page.title contains "Contributions" %}current{% endif %}">
        <a href="{{ site.url }}/prototypes/contributor">Contributor</a>
      </li>
      <li class="{% if page.title contains "Selection" %}current{% endif %}">
        <a href="{{ site.url }}/prototypes/other">Other</a>
      </li>
      <li class="{% if page.title contains "Past" %}current{% endif %}">
        <a href="{{ site.url }}/prototypes/past">Past</a>
      </li>
    </ul>
  </aside>
</div>
