<div class="unit one-fifth hide-on-mobiles">
  <aside>
    <h4>Prototypes</h4>
    <ul>
      <li class="{% if page.title contains "Core" %}current{% endif %}">
        <a href="{{ site.url }}/prototypes/">Core dev</a>
      </li>
      <li class="{% if page.title contains "Contributions" %}current{% endif %}">
        <a href="{{ site.url }}/prototypes/contributor">Contributor</a>
      </li>
      <li class="{% if page.title contains "Selection" %}current{% endif %}">
        <a href="{{ site.url }}/prototypes/other">Other</a>
      </li>
      <li class="{% if page.title contains "Past" %}current{% endif %}">
        <a href="{{ site.url }}/prototypes/past">Past</a>
      </li>
	  <li>
		<br/><a href="https://coderwall.com/brice-morin"><img alt="Endorse brice-morin on Coderwall" src="https://api.coderwall.com/brice-morin/endorsecount.png" /></a>
	  </li>
    </ul>
    <a href="https://github.com">
          <img src="{{ site.url }}/img/GitHub-Mark-64px.png" alt="GitHub • Social coding"/>
    </a>
          <img src="{{ site.url }}/img/osi_reversing_logotype_color_to_white.png" alt="Open Source Initiative" width="64px"/>
  </aside>
</div>
