---
layout: default
title: Brice Morin's CV
---

<section>
  <div class="grid">
    <div class="unit whole center-on-mobiles">

  <h2>Positions and Education</h2>
  {% for post in site.categories.cv %}
      {% if post.categories contains 'diploma' %}
      <h3 class="diploma">
      {% elsif post.categories contains 'work' %} 
      <h3 class="work"> Since 
      {% else %}
      <h3>
      {% endif%}
      {{post.date | date: "%B %Y"}}: {{ post.title }} </h3>
    <div class="post">
      {{ post.content }}
    </div>
  {% endfor %}

  <h2>Supervision (Master and PhD Students)</h2>

  <h2>Organization</h2>

  <h2>Peer reviewing</h2>

</div>
</div>
</section>
