---
layout: default
title: Brice Morin's Services
---

<section>
    <div class="grid">

      {% include cv_contents_mobile.html %}

      <div class="unit four-fifths">
        <article>
	<h2>Services</h2>
	  {% for post in site.categories.cv %}
            {% if post.categories contains 'service' %}
            <h3 class="service"> {{post.date | date: "%Y"}}: {{ post.title }} </h3>
              <div class="post">
                {{ post.content }}
             </div>
            {% endif %}
          {% endfor %}
        </article>
      </div>

      {% include cv_contents.html %}

      <div class="clear"></div>

    </div>
  </section>
