---
layout: default
title: Brice Morin's Core prototypes
---


<section>
    <div class="grid">

      {% include prototype_contents_mobile.html %}

      <div class="unit four-fifths">
        <article>
	<h2>Prototypes where I am a core developer</h2>
        {% for post in site.categories.prototype %}
	  {%  if post.categories contains 'core'%}
         <h3 class="prototype">{{ post.title }}</h3>
           <div class="post">
             {{ post.content }}
           </div>
	   {% endif %}
         {% endfor %}
        </article>
      </div>

      {% include prototype_contents.html %}

      <div class="clear"></div>

    </div>

  </section>
