---
layout: default
title: Brice Morin's publications per Type
---
{% include paper.html %}
<section>
    <div class="grid">

      {% include paper_contents_mobile.html %}

      <div class="unit four-fifths">
        <article>
		{% include paper_perType.html %}
        </article>
      </div>

      {% include paper_contents.html %}

      <div class="clear"></div>

    </div>
  </section>
<section><div class="unit whole center-on-mobiles"><div class="compactPost">  
DISCLAIMER: The documents contained in these directories are included by the contributing authors as a means to ensure timely dissemination of scholarly and technical work on a non-commercial basis. Copyright and all rights therein are maintained by the authors or by other copyright holders, notwithstanding that they have offered their works here electronically. It is understood that all persons copying this information will adhere to the terms and constraints invoked by each author's copyright. These works may not be reposted without the explicit permission of the copyright holder.
</div></div></section>