---
layout: default
title: Brice Morin's Positions and Education (CV)
---
{% assign lastDate = 0 %}
{% for post in site.categories.cv %}
  {% if lastDate == 0 %}
    {% if post.categories contains 'diploma' or post.categories contains 'work' %}
      {% assign lastDate = forloop.index %}
    {% endif %}
  {% endif %}
{% endfor %}
<section>
    <div class="grid">

      {% include cv_contents_mobile.html %}
      <div class="unit four-fifths">
        <article>
	<h2>Positions and Education</h2>
	  {% for post in site.categories.cv %}
      {% if post.categories contains 'diploma' %}
      <h3 class="diploma"> {{post.date | date: "%B %Y"}}: {{ post.title }} </h3>

      {% elsif post.categories contains 'work' %}
        {% if forloop.index == lastDate %}<h3 class="work"> Current: </h3>
        {% else %}
        <h3 class="work"> {{post.date | date: "%B %Y"}}: {{ post.title }} </h3>
        {% endif %}
      {% endif%}


      {% if post.categories contains 'diploma' or post.categories contains 'work' %}
      <div class="post">
      {{ post.content }}
      </div>
      {% endif %}

  {% endfor %}
        </article>
      </div>

      {% include cv_contents.html %}

      <div class="clear"></div>

    </div>
  </section>
